
/* ==UserStyle==
@name         Canvas Dark
@namespace    ryan28561
@version      1.0.0
@author       ryan28561
@updateURL    https://raw.githubusercontent.com/ryan28561/styles/master/canvas/output.user.css
@advanced color primary-color "Primary color" #360297
==/UserStyle== */
@-moz-document domain("instructure.com") {
body {
  background-color: #212121;
  color: #efefef; }

.ic-Dashboard-header__layout {
  background-color: #212121;
  color: #efefef; }

.ic-DashboardCard {
  background-color: #333;
  color: #efefef; }

.ic-DashboardCard__header-subtitle,
.ic-DashboardCard__header-term {
  color: #efefef; }

.ic-DashboardCard__header_content {
  background-color: #333;
  color: #efefef;
  border-color: #555; }

footer div {
  display: none; }

}
